<div class="letterhead">

  {% unless page.banner %}

  {%  if page.letterheadIcon %}
  <div class="category">
    <img src="{{site.baseurl}}/{{page.letterheadIcon}}" alt="" class="">
  </div>

  {%  elsif page.subcategory %}
  <div class="category">
    <img src="{{site.baseurl}}/assets/icons/category/{{page.subcategory}}.png" alt="" class="">

  </div>

  {% elsif page.category %}
  <div class="category">
    <img src="{{site.baseurl}}/assets/icons/category/{{page.category}}.png" alt="" class="">
  </div>
  {% endif %}


  <h1 class="">{{page.title}}</h1>
  {% endunless %}

  <!-- logic for adding the date for posts -->
  {% if page.layout == "post" %}
  <p class="date">{{ page.date | date_to_long_string }}</p>
  {% endif %}

  <!-- logic for iterating and linking tags -->
  {% if page.tags %}
  <p class="tags">[

    {% for tag in page.tags %}
    <a href="#">
      <code><nobr>{{tag}}</nobr></code>
    </a> &nbsp;
    {% endfor %}

      ]</p>
    {% endif %}

</div>
