
<!-- social media icon for email -->
{% if site.social-media.email %}
<div class="soc-media-icon">
  <a href="#"><img src="{{ site.baseurl }}/assets/icons/email.png" alt=""></img> </a>
</div>
{% endif %}

{% if site.social-media.linkedin %}
<!-- social media icon for linkedin -->
<div class="soc-media-icon">
  <a href="https://www.linkedin.com/in/{{site.social-media.linkedin}}/"><img src="{{ site.baseurl }}/assets/icons/linkedin.png" alt=""></img> </a>
</div>
{% endif %}

{% if site.social-media.instagram %}
<!-- social media icon for instagram -->
<div class="soc-media-icon">
  <a href="https://www.instagram.com/{{site.social-media.instagram}}"><img src="{{ site.baseurl }}/assets/icons/instagram.png" alt=""></img> </a>
</div>
{% endif %}

{% if site.social-media.github %}
<!-- social media icon for instagram -->
<div class="soc-media-icon">
  <a href="https://github.com/{{site.social-media.github}}"><img src="{{ site.baseurl }}/assets/icons/github.png" alt=""></img> </a>
</div>
{% endif %}
