/* ========================================================================== */
/*  Banner and letterhead */
/* ========================================================================== */

// Start dealing with banner-image and banner-title
.banner-image img{
  // make sure image fits properlly and gets cropped
  object-fit: cover;
  width: 100%;
  height: 30rem;
}

.banner-title {
  // position title on top of banner
  position: absolute;
  top: 0rem;
  height: 30rem;
  width: 100%;
  text-shadow: 0px 0px 0.2rem white;

  //justify to bottom of heading
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;

  //set gradient over banner
  background: $banner-gradient;

  // set banner title position and margins
  h1 {
    margin-left: $page-left-margin;
    margin-bottom: 1rem;
  }

}


// set css for the letter head.
.letterhead {
  margin-bottom: 1rem;

  .category{
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    width: 10rem;
    height: 10rem;
    border-radius: $nav-corner-radius;
    background-color: $category-bg-colour;
    padding: 1rem;

    img {
      -o-object-fit: contain;
         object-fit: contain;
      max-height: 100%;
      max-width: 100%;
    }

  }


  h1 {
    display: inline;
    vertical-align: bottom;
    margin-left: 1rem;

  }

  .date {
    margin-top: 1rem;
  }

  .tags {
    a {
      background-color: #efefef;

      border: 1px solid #ddd;


      color: inherit;
      text-decoration: none;
    }
  }
}
