/* ========================================================================== */
/*  Fonts and fontsizes */
/* ========================================================================== */

@import url('https://rsms.me/inter/inter.css');

/*insert fall back fontface*/

// set font and font sizes
body {
  font-family:'Inter', sans-serif;
  color: rgba(0,0,0,1);
}

h1 {
  font-size: 5rem;
  font-style: normal;
  font-variant: normal;
  font-weight: 600;
  line-height: 6.5rem;
  color: inherit;
}


h2 {
  font-size: 3.3rem;
  font-style: normal;
  font-variant: normal;
  font-weight: 600;
  line-height: 4rem;
  color: inherit;
}

h3 {
  font-size: 2.5rem;
  font-style: normal;
  font-variant: normal;
  font-weight: 600;
  line-height: 3.3rem;
  color: inherit;
}

h4 {
  font-size: 2rem;
  font-style: normal;
  font-variant: normal;
  font-weight: 600;
  line-height: 2.7rem;
  color: inherit;
}

h5, h6 {
  font-size: 1.7rem;
  font-style: normal;
  font-variant: normal;
  font-weight: 500;
  line-height: 2.3rem;
  color: inherit;
}

p {
  font-size: 1.4rem;
  font-style: normal;
  font-variant: normal;
  font-weight: 400;
  line-height: 2.3rem;
  color: inherit;
}

/* Nav bar fonts and font sizes */
nav {

  a {
    font-size: 2.2rem;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    line-height: 3.5rem;
    color: $nav-link-colour;
  }

  a.current{
    font-weight: 600;
  }
}
