/* ========================================================================== */
/*  Macro layout settings */
/* ========================================================================== */
*{
  /* reset margins and paddings to zero to have full control */
  padding: 0px;
  margin: 0px;
}

html, body {
  /* make sure div takes full page vertically */
  height: 100%;
}

.body-container{
  /* set display mode to flexible */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  /* make sure div takes full page vertically */
  height: 100%;
}

.nav-container{
  /* set colour */
  background-color: $nav-colour;
  color: $nav-font-colour;
  /* set physical properties */
  height: 100%;
  max-width: 80rem;
  -webkit-box-flex: 3;
      -ms-flex: 3;
          flex: 3;



  /* set internal alginments and padding for naviagtion*/
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  padding-right: $nav-right-margin;
  padding-bottom: $nav-bottom-margin;
  padding-left: $nav-left-margin;
}

.page-container{
  /* set colour */
  background-color: $page-colour;
  /* set physical properties */
  position: relative;
  -webkit-box-flex: 6;
      -ms-flex: 6;
          flex: 6;
  min-height: 100%;

  /*set sctoll behaviour */
  overflow-y: scroll;
  overflow-x: auto;
}
