/* ========================================================================== */
/*  Navigation side/top bar */
/* ========================================================================== */
.navbar{
  text-align: right;

  h3 {
    margin-top: 0.5rem;
  }
}

.nav_icon{
  display: none;

}

.site_icon{
  object-fit: contain;
  height: 10rem;
  border-radius: $nav-corner-radius;
  background-color: $logo-bg-colour;
}

nav {
  // set text colour
  text-align: right;
  margin-top: 2rem;
  margin-bottom: 2rem;

  a {
    // fonts and size are in _fonts.scss

    // display as block
    display: block;

    // remove bullet points and underline
    text-decoration: none;
  }



  a:hover {
    text-decoration: line-through;
  }

}


.soc-media-container {
  display: flex;

  div.soc-media-icon{
    padding: 1rem;
    background-color: $soc-media-bg-colour;
    border-radius: $nav-corner-radius;
    border: 0.1rem;
    border-style: solid;
    border-color: $nav-colour;
  }

  img {
    object-fit: contain;
    height: 3rem;
    margin: auto;
  }
}
