/* ========================================================================== */
/*  Main article body mobile changes */
/* ========================================================================== */

// sort out the footer at the end of the articles
@media only screen and (max-width: $tablet-width) {
  .copyright-post {

    text-align: center;

    img {
      -o-object-fit: contain;
         object-fit: contain;
      height: 5rem;
      margin: 3rem auto 1rem;
      border-radius: $nav-corner-radius / 2;
      background-color: $logo-bg-colour;
    }


    p {
      font-size: 1.1rem;
      display: block;
    }
  }
}

// 2 column gallery logic
@media only screen and (max-width: $gallery-2-column-change) {
  .article {
      // logic for galleries
      .gallery {

        &-box{
          width:$gallery-2-column-width;
          padding-bottom: $gallery-2-column-width;
        }

      }

  }


}

// 1 column gallery logic
@media only screen and (max-width: $gallery-1-column-change) {
  .article {
      // logic for galleries
      .gallery {

        &-box{
          width:$gallery-1-column-width;
          padding-bottom: $gallery-1-column-width;
        }

      }

  }


}
