/* ========================================================================== */
/*  Main article body */
/* ========================================================================== */



// main post margins
.post {
  // set main margins for the whole page
  max-width: $page-max-width;
  margin-left: $page-left-margin;
  margin-right: $page-right-margin;
  margin-top: $page-top-margin;
}


.article {
    // how images and captions are are treated
    img, video{
      // contain image in sizes
      object-fit: contain;

      // center image
      display: block;
      margin-left: auto;
      margin-right: auto;

      // apply minor padding
      padding: 1rem 1rem 1rem 1rem;

      // ensure it doesnt spill out the sides nor is the height stupidly large either
      max-width: 100%;
      max-height: 30rem;
    }

    // create special image slideshow css
    .slideshow-container{
      position: relative;
      .prev, .next{

        position: absolute;
        top:50%;
        font-size: 30px;
        // background-color: rgba(0,0,0,0.8);
        padding: 20px;
        margin-top: -20px;
      }
      .next{
        right: 0;
      }

      .prev:hover, .next:hover {
        background-color: rgba(0,0,0,0.4);

      }

      /* Fading animation */
      .fade {
        -webkit-animation-name: fade;
        -webkit-animation-duration: 1.5s;
        animation-name: fade;
        animation-duration: 1.5s;
      }

      @-webkit-keyframes fade {
        from {opacity: .4}
        to {opacity: 1}
      }

      @keyframes fade {
        from {opacity: .4}
        to {opacity: 1}
      }


    }

    .slideshow-page{
      display: none;
    }

    .active{
      display: block;
    }


    // deal with how tables are displayed
    table {
        margin-top: 2em;
        margin-left: auto;
        margin-right: auto;
        // border: 1px solid black;
        min-width: 60%;
        border-collapse: separate;

        thead {
          // border: 1px solid black;
          // border-bottom: 1px solid black;
          // border-radius: $nav-corner-radius;
          background-color: $table-head-colour;

          th {
            border-width: 1px;
            border-color: transparent; // transparent
            border-style: solid;
            // border-radius:  $nav-corner-radius;
          }
          th:nth-child(1) {
            border-radius: $nav-corner-radius 0 0 0;
          }

          th:nth-last-child(1) {
            border-radius: 0 $nav-corner-radius 0 0;
          }


        }

        tr:nth-child(2n) {
          background-color: $table-even-colour;
        }

        tr:nth-child(2n+1) {
          background-color: $table-odd-colour;
        }

        th, td {
          padding: 0.5rem 1rem;

        }

        tr:nth-last-child(1) {
            border-width: 1px;
            border-color: transparent; // transparent
            border-style: solid;
            // border-radius:  $nav-corner-radius;

          td:nth-child(1) {
            border-radius: 0 0 0$nav-corner-radius ;
          }

          td:nth-last-child(1) {
            border-radius: 0 0 $nav-corner-radius 0 ;
          }
        }

    }

    // special wrapper div change
    .testing{
      overflow-x: scroll;
      width: 80%;

    }


    blockquote{
      background: $blockquote-colour;
      border-left: 10px solid $blockquote-colour-edge;
      margin: 1.5em 10px;
      padding: 0.5em 10px;
    }




    // if caption is included also modify that
    img + em, figcaption {
        display: block;
        text-align: center;
        margin-bottom: 1rem;
        max-width: 70%;
        margin: 0 auto;

    }

    // space out paragraphs more
    p {
      margin-bottom: 1rem;
      margin-top: 1rem;
    }

    // make sure anchors are same colour as text
    a {
      color: inherit;
    }

    a:hover {
      color: $page-highlight-colour;
    }

    // special situation for download icons
    .download-icon {
      // ensure it doesnt spill out the sides nor is the height stupidly large either
      max-width: 100%;
      max-height: 10rem;
    }

    // logic for galleries
    .gallery {
      overflow: hidden;

      &-box{
        float: left;
        position: relative;
        width:$gallery-3-column-width;
        padding-bottom: $gallery-3-column-width;


        &:hover .gallery-text{
          transform: translate(0, 0%);
        }

        &:hover .gallery-shadow{
          background: #000;
          background: rgba(0, 0, 0, 0.5);;
        }

      }

      &-item{
       position: absolute;
       left: $gallery-spacing;
       right: $gallery-spacing;
       top: $gallery-spacing;
       bottom: $gallery-spacing;
       overflow: hidden;
      }

      &-img{
        width: 100%;
        height: 100%;
        object-fit: cover;
        display: block;
        margin: 0;
        padding: 0;
        max-width: none;
        max-height: none;
      }

      &-shadow{
        position: absolute;
        bottom: 0;
        height: 100%;
        width:100%;
        transition: background 0.4s;
      }

      &-text{
        color: $nav-font-colour;
        width: 100%;
        height: 100%;
        display:flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        transform: translate(0, +100%);

        h4 {
          font-size: 2rem;
        }
      }
    }

}


.blog-post{
  margin-top: $blog-post-top-margin;
  margin-bottom: $blog-post-bottom-margin;

  a {
    text-decoration: none;
  }

  a:hover {
    color: $page-highlight-colour;
  }


  .category{
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    width: 5rem;
    height: 5rem;
    border-radius: $nav-corner-radius / 2;
    background-color: $category-bg-colour;
    padding: 0.5rem;

    img {
      -o-object-fit: contain;
         object-fit: contain;
      max-height: 100%;
      max-width: 100%;
      padding: 0;
    } }

  a:hover .category{
    background-color: $nav-highlight-colour;
  }


  h3 {
    display: inline;
    vertical-align: bottom;
    margin-left: 1rem;

  }

}


.pagination{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}


// sort out the footer at the end of the articles
.copyright-post {
  display: block;
  text-align: center;

  img {
    -o-object-fit: contain;
       object-fit: contain;
    height: 5rem;
    margin: 3rem auto 1rem;
    border-radius: $nav-corner-radius / 2;
    background-color: $logo-bg-colour;
  }


  p {
    display: none;
    font-size: 1.1rem;
  }
}
