/* ========================================================================== */
/*  Main article body */
/* ========================================================================== */

// Start dealing with banner-image and banner-title
.banner-image img{
  // make sure image fits properlly and gets cropped
  object-fit: cover;
  width: 100%;
  height: 30rem;
}

.banner-title {
  // position title on top of banner
  position: absolute;
  top: 0rem;
  height: 30rem;
  width: 100%;

  //justify to bottom of heading
  display: flex;
  flex-direction: column;
  justify-content: flex-end;

  //set gradient over banner
  background: $banner-gradient;

  // set banner title position and margins
  h1 {
    margin-left: $page-left-margin;
    margin-bottom: 1rem;
  }

}

// main post margins
.post {
  // set main margins for the whole page
  max-width: $page-max-width;
  margin-left: $page-left-margin;
  margin-right: $page-right-margin;
  margin-top: $page-top-margin;
}

// set css for the letter head.
.letterhead {
  img {
    object-fit: cover;
    width: 10rem;
    height: 10rem;
    border-radius: $nav-corner-radius;
    background-color: $logo-bg-colour;
    display: inline;
    vertical-align: bottom;


  }

  h1 {
    display: inline;
    vertical-align: bottom;
    margin-left: 1rem;

  }

  .date {
    margin-top: 1rem;
  }
}

.article {
    // how images and captions are are treated
    img{
        // contain image in sizes
        object-fit: contain;

        // center image
        display: block;
        margin-left: auto;
        margin-right: auto;

        // apply minor padding
        padding: 1rem 1rem 1rem 1rem;

        // ensure it doesnt spill out the sides nor is the height stupidly large either
        max-width: 100%;
        max-height: 30rem;
    }

    // deal with how tables are displayed

    table {
        margin-top: 2em;
        margin-left: auto;
        margin-right: auto;
        // border: 1px solid black;
        min-width: 60%;
    }

    // special wrapper div change
    .testing{
      overflow-x: scroll;
      width: 80%;

    }

    thead {
      border-bottom: 1px solid black;
      background-color: $table-head-colour;
    }

    tr:nth-child(2n) {
      background-color: $table-even-colour;
    }

    tr:nth-child(2n+1) {
      background-color: $table-odd-colour;
    }

    th, td {
      padding: 0.5rem 1rem;

    }




    // if caption is included also modify that
    img + em, figcaption {
        display: block;
        text-align: center;
        margin-bottom: 1rem;
        max-width: 70%;
        margin: 0 auto;

    }

    // space out paragraphs more
    p {
      margin-bottom: 1rem;
    }

    // make sure anchors are same colour as text
    a {
      color: inherit;
    }
}

// sort out the footer at the end of the articles
.copyright-post {
  display: block;
  text-align: center;

  img {
    object-fit: contain;
    height: 5rem;
    margin: 3rem auto 1rem;
    border-radius: $nav-corner-radius / 2;
    background-color: $logo-bg-colour;
  }


  p {
    display: none;
    font-size: 1.1rem;
  }
}

// .hidden {
//       display: none !important;
// }
