/* ========================================================================== */
/*  Main article body */
/* ========================================================================== */



// main post margins
.post {
  // set main margins for the whole page
  max-width: $page-max-width;
  margin-left: $page-left-margin;
  margin-right: $page-right-margin;
  margin-top: $page-top-margin;
}


.article {
    // how images and captions are are treated
    img{
        // contain image in sizes
        object-fit: contain;

        // center image
        display: block;
        margin-left: auto;
        margin-right: auto;

        // apply minor padding
        padding: 1rem 1rem 1rem 1rem;

        // ensure it doesnt spill out the sides nor is the height stupidly large either
        max-width: 100%;
        max-height: 30rem;
    }

    // deal with how tables are displayed

    table {
        margin-top: 2em;
        margin-left: auto;
        margin-right: auto;
        // border: 1px solid black;
        min-width: 60%;
        border-collapse: separate;
    }

    // special wrapper div change
    .testing{
      overflow-x: scroll;
      width: 80%;

    }

    thead {
      // border: 1px solid black;
      // border-bottom: 1px solid black;
      // border-radius: $nav-corner-radius;
      background-color: $table-head-colour;

      th {
        border-width: 1px;
        border-color: transparent; // transparent
        border-style: solid;
        // border-radius:  $nav-corner-radius;
      }
      th:nth-child(1) {
        border-radius: $nav-corner-radius 0 0 0;
      }

      th:nth-last-child(1) {
        border-radius: 0 $nav-corner-radius 0 0;
      }


    }

    tr:nth-child(2n) {
      background-color: $table-even-colour;
    }

    tr:nth-child(2n+1) {
      background-color: $table-odd-colour;
    }

    th, td {
      padding: 0.5rem 1rem;

    }

    tr:nth-last-child(1) {
        border-width: 1px;
        border-color: transparent; // transparent
        border-style: solid;
        // border-radius:  $nav-corner-radius;

      td:nth-child(1) {
        border-radius: 0 0 0$nav-corner-radius ;
      }

      td:nth-last-child(1) {
        border-radius: 0 0 $nav-corner-radius 0 ;
      }
    }





    // if caption is included also modify that
    img + em, figcaption {
        display: block;
        text-align: center;
        margin-bottom: 1rem;
        max-width: 70%;
        margin: 0 auto;

    }

    // space out paragraphs more
    p {
      margin-bottom: 1rem;
      margin-top: 1rem;
    }

    // make sure anchors are same colour as text
    a {
      color: inherit;
    }
}


.blog-post{
  margin-top: $blog-post-top-margin;
  margin-bottom: $blog-post-bottom-margin;

  a {
    text-decoration: none;
  }


  .category{
    display: inline-flex;
    width: 5rem;
    height: 5rem;
    border-radius: $nav-corner-radius / 2;
    background-color: $category-bg-colour;
    padding: 0.5rem;

    img {
      object-fit: contain;
      max-height: 100%;
      max-width: 100%;
      padding: 0;
    } }

  h3 {
    display: inline;
    vertical-align: bottom;
    margin-left: 1rem;

  }

}



// sort out the footer at the end of the articles
.copyright-post {
  display: block;
  text-align: center;

  img {
    object-fit: contain;
    height: 5rem;
    margin: 3rem auto 1rem;
    border-radius: $nav-corner-radius / 2;
    background-color: $logo-bg-colour;
  }


  p {
    display: none;
    font-size: 1.1rem;
  }
}

// .hidden {
//       display: none !important;
// }
