# Your snippets
#
# Atom snippets allow you to enter a simple prefix in the editor and hit tab to
# expand the prefix into a larger code block with templated values.
#
# You can create a new snippet in this file by typing "snip" and then hitting
# tab.
#
# An example CoffeeScript snippet to expand log to console.log:
#
# '.source.coffee':
#   'Console log':
#     'prefix': 'log'
#     'body': 'console.log $1'
#
# Each scope (e.g. '.source.coffee' above) can only be declared once.
#
# This file uses CoffeeScript Object Notation (CSON).
# If you are unfamiliar with CSON, you can read more about it in the
# Atom Flight Manual:
# http://flight-manual.atom.io/using-atom/sections/basic-customization/#_cson

'.source.gfm':
  'local image include':
    'prefix': 'incimg'
    'body': """
    {% include img.html assetsFolder=page.assets link='$1' caption="$2" %}
    """
  'local image slideshow include':
    'prefix': 'incslide'
    'body': """
    {% assign img_array = "$1" | split: "|" %}

    {% assign caption_array = "$2" | split: "|" %}

    {% include img_slide.html assetsFolder=page.assets link=img_array caption=caption_array %}
    """
  'local gif include':
      'prefix': 'incgif'
      'body': """
      {% include gif.html assetsFolder=page.assets link='$1' caption="$2" %}
      """
  'local download include':
      'prefix': 'incgif'
      'body': """
      {% include download.html link="$1" filetype="$2" name="$3"%}
      """
