---
layout: page
title: "Blog"
category: blog
---


<div class="blog-posts">
  {% for post in paginator.posts %}
    <article class="blog-post">
        <a href="{{ site.baseurl }}{{ post.url }}">

        {% if post.subcategory %}
        <div class="category">
          <img src="{{site.baseurl}}/assets/icons/category/{{post.subcategory}}.png" alt="" class="">
        </div>

        {% else if post.category %}
        <div class="category">
          <img src="{{site.baseurl}}/assets/icons/category/{{post.category}}.png" alt="" class="">
        </div>


        {% else if %}
        <div class="category">
          <img src="{{site.baseurl}}/assets/icons/category/other.png" alt="" class="">
        </div>
        {% endif %}

        <h3>{{ post.title }}</h3>

        </a>

      <div class="blog-post-excerpt">
        {{ post.excerpt }}
      </div>

      <a href="{{ site.baseurl }}{{ post.url }}" class="blog-post-more"><h5>Read More</h5></a>

    </article>

    <hr>

  {% endfor %}

  <!-- Pagination links -->
<div class="pagination">
  {% if paginator.previous_page %}
    <a href="{{ paginator.previous_page_path }}" class="previous">
      <p>Previous</p>
    </a>
  {% else %}
    <span class="previous"><p>Previous</p></span>
  {% endif %}
  <span class="page_number ">
    <p>Page: {{ paginator.page }} of {{ paginator.total_pages }}</p>
  </span>
  {% if paginator.next_page %}
    <a href="{{ paginator.next_page_path }}" class="next"><p>Next</p></a>
  {% else %}
    <span class="next "><p>Next</p></span>
  {% endif %}
</div>

</div>
