---
layout: page
title: "Blog"
category: programming
permalink: /blog/
---


<div class="blog-posts">
  {% for post in site.posts %}
    <article class="blog-post">

        {% if post.category %}
        <div class="category">
          <img src="{{site.baseurl}}/assets/icons/category/{{post.category}}.png" alt="" class="">
        </div>


        {% else if %}
        <div class="category">
          <img src="https://via.placeholder.com/400x400" alt="" class="">
        </div>
        {% endif %}

        <h3><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></h3>


      <div class="blog-post-excerpt">
        {{ post.excerpt }}
      </div>

      <a href="{{ site.baseurl }}{{ post.url }}" class="blog-post-more"><p>Read More</p></a>

    </article>

    <hr>

  {% endfor %}
</div>
