---
layout: page
letterheadIcon: "assets/icons/tag.png"
---
<div class="post">

{% for post in site.tags[page.tag] %}
  <a href="{{ post.url }}"><h5>{{ post.title }}</h5></a> ({{ post.date | date_to_string }})<br>
    {% assign var_open_curl = "{" %}
    {% assign var_close_curl = "}" %}
    {% assign var_excerpt = post.excerpt | strip_html | replace: var_open_curl, '?' | replace: var_close_curl, '?' %}
    <p>{{ var_excerpt | truncatewords: 35}}</p><br>
{% endfor %}

</div>
<hr>

{% include tagcloud.html %}

<hr>
