.splash-container{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
}

.splash-box{
  /* border: 1px solid black; */
  width: 40rem;
  height: 40rem;
  position: static;
}

.splash-layer{
position: relative;
}

#ears_img {
  position: absolute;
  -o-object-fit: contain;
     object-fit: contain;
  width: 100%;
  -webkit-transform: translate(0px,00px);
      -ms-transform: translate(0px,00px);
          transform: translate(0px,00px);
}

#eyes_img {
  position: absolute;
  -o-object-fit: contain;
     object-fit: contain;
  width: 100%;
  -webkit-transform: translate(0px,0px);
      -ms-transform: translate(0px,0px);
          transform: translate(0px,0px);
}

#nose_img {
  position: absolute;
  -o-object-fit: contain;
     object-fit: contain;
  width: 100%;
  -webkit-transform: translate(0px,0px);
      -ms-transform: translate(0px,0px);
          transform: translate(0px,0px);
}

a.splash-link{
  text-decoration: none;
  color: rgba(20,20,20,0.5);
  -webkit-animation-name: splash-title-animation;
          animation-name: splash-title-animation;
  /* animation-delay: 2s; */
  -webkit-animation-duration: 8s;
          animation-duration: 8s;
  -webkit-animation-timing-function: ease-out;
          animation-timing-function: ease-out;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  /* animation-play-state: paused; */
}

.splash-title h1 {
  /* visibility: hidden; */
}

@-webkit-keyframes splash-title-animation {
  0% {
  color: rgba(20,20,20,0);
  }
  50% {
    color: rgba(20,20,20,0);
  }
  100% {
  color: rgba(20,20,20,0.5);
  }
}

@keyframes splash-title-animation {
  0% {
  color: rgba(20,20,20,0);
  }
  50% {
    color: rgba(20,20,20,0);
  }
  100% {
  color: rgba(20,20,20,0.5);
  }
}
