.splash-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.splash-box{
  /* border: 1px solid black; */
  width: 40rem;
  height: 40rem;
  position: static;
}

.splash-layer{
position: relative;
}

#ears_img {
  position: absolute;
  object-fit: contain;
  width: 100%;
  transform: translate(0px,00px);
}

#eyes_img {
  position: absolute;
  object-fit: contain;
  width: 100%;
  transform: translate(0px,0px);
}

#nose_img {
  position: absolute;
  object-fit: contain;
  width: 100%;
  transform: translate(0px,0px);
}

a.splash-link{
  text-decoration: none;
  color: rgba(20,20,20,0.5);
  animation-name: splash-title-animation;
  /* animation-delay: 2s; */
  animation-duration: 8s;
  animation-timing-function: ease-out;
  animation-iteration-count: 1;
  /* animation-play-state: paused; */
}

.splash-title h1 {
  /* visibility: hidden; */
}

@keyframes splash-title-animation {
  0% {
  color: rgba(20,20,20,0);
  }
  50% {
    color: rgba(20,20,20,0);
  }
  100% {
  color: rgba(20,20,20,0.5);
  }
}
